@import url('https://fonts.googleapis.com/css2?family=Lora&family=Merriweather:wght@700&family=Open+Sans:ital,wght@0,300;0,700;1,700&family=Roboto+Slab:wght@500;900&family=Signika+Negative:wght@300&display=swap');

*{
    margin: 0;
   
}
.Nav{
height: 40px;
background-color: rgb(29, 172, 172);
padding: 20px;
text-align: center;
position: sticky;
top: 0;
}
.Cards-info{
    display: flex;
    margin: 90px;
    gap: 70px;
   
}
.First-card{
    border: 2px solid black;
    box-shadow:5px 10px 11px 2px black;
}
.Second-card{
    border: 2px solid black;
    box-shadow:5px 10px 11px 2px black;
}
.Third-card{
    border: 2px solid black;
    box-shadow:5px 10px 11px 2px black;
}
.Forth-card{
    border: 2px solid black;
    box-shadow:5px 10px 11px 2px black;
}
.Fifth-card{
    border: 2px solid black;
    box-shadow:5px 10px 11px 2px black;
}

.Sixth-card{
    border: 2px solid black;
    box-shadow:5px 10px 11px 2px black;
}
.Nav-Data>*{
    color: white;
    border: 6px soild red;
    text-decoration: none;
    margin: 20px;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
}
.Content{
text-align: center;
background-color:rgb(233, 193, 199);
height: 350px;
padding: 78px;
font-family: 'Lora', serif;
text-align: justify;
}
.About-info{
text-align: center;
font-size: 40px;
}
.Login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
    height: 400px;
    background-color: palevioletred;
}
  input[type="text"],
  input[type="password"]{
  margin: 20px;
  padding: 15px;
  border-radius: 7px;
  border: none;
}
.Submit-form{
    padding:30px;
}

.Login-info{
    float: right;
    color: black;
    margin-top: 0px;
    font-family: 'Lora';
    border-radius: 2px;
    border: none;
   
}
.Contact-us{
    display: flex;
    flex-direction: column;
    background-color: rgb(218, 191, 71);
    text-align: center;
    height: 300px;
    margin: 100px;
}
.nav-color{
    background-color: #2c93af !important;
  }


